* {
    font-family: "Rubik", sans-serif;
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 230px;
    text-align: center;
    align-items: center;

}

.nav-title {
    width: 12px;
    margin-top: 50px;
}

.nav-li {
    display: flex;
    list-style: none;
    margin-top: 50px;

}

nav ul {
    align-items: center;
}

nav li {
    margin-left: 50px;
}

.mary-span {

    color: #FD6E0A;
}

.btn-nav {
    padding: 8px 20px;
    background-color: #FD6E0A;
    border-radius: 5px;
}

.header {
    background-color: #f9f9f9;
    background-image: url(/images/header_bg.png), url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* banner style */

.banner {
    display: flex;
    align-items: center;
    margin: 0px 230px;

}

.banner-sub-title {
    font-size: 30px;
    margin-bottom: 5px;
}

.banner-title {
    font-size: 50px;
    margin-bottom: 20px;
}


.banner-description {
    margin-bottom: 30px;
}

/* main section */

.main {
    /* max-width: 1140px;
    margin: 0 auto; */
}

.about {
    /* margin-top: 80px; */
    background-color: #FFF8F3;
    padding: 128px 170px;
    margin: 50px 230px;
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.section-description {
    font-size: 20px;
}

.about-info-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    justify-content: space-around;

}

.info-title {
    color: dark;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
}

.skills-container {
    display: flex;
    justify-content: space-around;

    margin: 50px 230px;

    gap: 24px;
}

.skill {
    width: 267px;
    height: 377px;

    background-color: #FFFFFF;
    box-shadow:
        inset 0 -3em 3em rgb(0 200 0 / 30%),
        0 0 0 2px white,
        0.3em 0.3em 1em rgb(200 0 0 / 60%);
    padding: 30px;
    word-wrap: normal;
}

.skill-description {
    font-size: 20px;
}

.skill-title {
    margin-bottom: 20px;
}

.what-i-do {

    text-align: center;
    margin-top: 30px;
}

.resume-content {
    display: flex;
    gap: 71px;
    margin: 50px 230px;
    position: relative;
}
.section-sub-title{
    margin-top: 10px;
    font-size: 30px;
}
.btn-button{
    background-color: #FD6E0A;
    padding: 10px 25px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
